<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1">BOOKSTORE</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" asp-route-bookCategory="" asp-route-pageNum="1" class="nav-link active">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</head>
<body class="d-flex flex-column h-100" style="padding-top: 10px; padding-bottom: 70px;">
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">BOOKSTORE</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:categories></vc:categories>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <!-- Sticky footer -->
    <footer class="footer fixed-bottom mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">I'm a sticky footer! Maybe buy a book? I need your money...</span>
        </div>
    </footer>
</body>
</html>